<div class="kitchen-container">
  <h1>Comandas</h1>

  <div *ngIf="orders.length > 0; else noOrders" class="orders-list">
    <div *ngFor="let order of orders" [ngClass]="{'order-card': true, 'new-order': isNewOrder(order)}">

      <div class="order-header">
        <h2>Comanda #{{ order.id }}</h2>
        <h2 style="color: rgb(48, 48, 128);">Mesa: {{ order.ticketName }}</h2>
      </div>

      <div *ngFor="let comensal of getComensales(order)">
        <h3>🧾 Comensal {{ comensal }}</h3>
        
        <div class="comensal-note" *ngIf="getNoteForComensal(order, comensal)">
          <strong>Nota:</strong> {{ getNoteForComensal(order, comensal) }}
        </div>
        <ul class="order-items">
          <li *ngFor="let item of getItemsByComensal(order, comensal)">
            {{ item.quantity }} x {{ item.name }}
          </li>
        </ul>
      </div>

      <div class="order-actions">
        <button (click)="confirmFinish(order.id)">Marcar como terminada</button>
      </div>
    </div>
  </div>

  <ng-template #noOrders>
    <p>No hay comandas pendientes.</p>
  </ng-template>
</div>