<div class="modal-container">
    <h2>Nuevo Inventario</h2>
  
    <div class="form-group">
      <label for="inventoryName">Nombre del Inventario</label>
      <input
        id="inventoryName"
        type="text"
        [(ngModel)]="inventoryName"
        placeholder="Ej. Inventario de Mayo"
        class="input"
      />
    </div>
  
    <div class="actions">
      <button class="btn-cancel" (click)="cerrar()">Cancelar</button>
      <button class="btn-start" (click)="iniciarInventario()">Iniciar Inventario</button>
    </div>
  </div>
  