<div class="back">
    <div class="head_main">
        <h3>Añadir Empleado</h3>
        <button mat-raised-button [routerLink]="['../employees']">Regresar</button>
    </div>
    <div class="login">
        <form action="" class="form" [formGroup]="addForm">
            <label for="">Nombre: </label>
            <input type="text" placeholder="Nombre" class="input_form"  formControlName="firstname">
            <label for="">Apellido: </label>
            <input type="text" placeholder="Nombre" class="input_form"  formControlName="lastname">
            <label for="">Correo: </label>
            <input type="text" placeholder="Nombre" class="input_form"  formControlName="email">
            <label for="">Contraseña: </label>
            <input type="text" placeholder="Nombre" class="input_form"  formControlName="password">
            <label for="">Tienda: </label>
            <select name="" id="" formControlName="store">
                <option *ngFor="let store of stores" value="{{store.id}}">{{store.name}}</option>
            </select>
            <label for="">Tipo de empleado: </label>
            <select name="" id="" formControlName="type">
                <option value="manager">Colaborador 1</option>
                <option value="waiter">Colaborador 2</option>
                <option value="kitchen">Colaborador 3</option>
            </select>
            
            <button class="btn" (click)="onSubmit()">Agregar</button>
        </form>
    </div>
</div>
