<div class="body">
    <mat-tab-group>
        <mat-tab label="Ventas"> 
            
            <div class="main">

                <div class="head_main">
                    <h3>Ventas</h3>
                    
                </div>
              
                <div class="table_main">
                    <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterTickets($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    
                    <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceTickets" matSort>
                    
                    
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="money_started">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dinero Al incio </th>
                            <td mat-cell *matCellDef="let row"> {{row.money_started}} </td>
                        </ng-container>

                        <ng-container matColumnDef="money_difference">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Diferencia al cerrar caja </th>
                            <td mat-cell *matCellDef="let row"> {{row.is_closed === 1 ?  (row.money_difference * -1) : 'Caja Abierta'}} </td>
                        </ng-container>
                        

                        <ng-container matColumnDef="start">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Inicio </th>
                            <td mat-cell *matCellDef="let row"> {{row.created_at |  date: 'd MMMM, y HH:mm'  }} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="end">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Cerrada </th>
                            <td mat-cell *matCellDef="let row"> {{row.is_closed === 1 ? (row.updated_at |  date: 'HH:mm')  : 'Abierto'}} </td>
                        </ng-container>
                    


                    
                     
              
                         <!-- Fruit Column -->
                         <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                            <td mat-cell *matCellDef="let row"> 
                              <a mat-raised-button [routerLink]="['../../tickets', row.id]"><i class="bi bi-eye"></i> Ver Ticket</a>
                               
                            </td>
                            </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTickets"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTickets;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator #ticketsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
              
                </div>
                
                  
              </div> 
        </mat-tab>

        <mat-tab label="PLATILLOS / INGREDIENTES">

            
            <div class="main">

                <div class="head_main">
                    <h3>PLATILLOS</h3>
                    <button mat-raised-button (click)="addProduct()">Agregar Producto</button>
                </div>
              
                <div class="table_main">
                    <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterProducts($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    
                    <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceProducts" matSort>
                    
                        <!-- ID Column -->
                        <!-- <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                        </ng-container> -->
                    
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Platillo </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="cost">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
                            <td mat-cell *matCellDef="let row"> {{row.cost}} </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
                            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                            <td mat-cell *matCellDef="let row"> 
                                <button mat-raised-button   (click)="openIngredientsModal(row.code, row.name)"><i class="bi bi-eye"></i> Ingredientes </button>
                                <a class="options" style="color: #9f2220;" (click)="deleteProduct(row.code)"><i class="bi bi-trash3"></i></a>
                                <a class="options" style="color: yellowgreen;" (click)="editProduct(row)"><i class="bi bi-pen"></i></a>
                            </td>
                        </ng-container>
              
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator #productsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
              
                </div>
                
                  
              </div> 

            
              <div class="main">

                <div class="head_main">
                    <h3>INGREDIENTES</h3>
                    <button mat-raised-button style="right: 280px;" [routerLink]="['../../up-products']">Altas</button>
                    <button mat-raised-button style="right: 190px;" [routerLink]="['../../down-products']">Bajas</button>
                    <button mat-raised-button (click)="addIngredient()">Agregar Ingrediente</button>
                </div>
              
                <div class="table_main">
                    <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterIngredient($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    
                    <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceIngredient" matSort>
                    
                        <!-- ID Column -->
                        <!-- <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                        </ng-container> -->
                    
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                            <td mat-cell *matCellDef="let row"> 
                                <a class="options"  style="color: #a1a1a1;" (click)="downIngredient(row.id, row.name)"><i class="bi bi-arrow-down-circle-fill"></i></a>
                                <a  class="options"  style="color: #2d2d2d;" (click)="upIngredient(row.id, row.name)"><i class="bi bi-arrow-up-circle-fill"></i></a>
                                <a class="options" style="color: yellowgreen;" (click)="editIngredient(row)"><i class="bi bi-pen"></i></a>
                            </td>
                        </ng-container>
              
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsIngredient"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsIngredient;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator #ingredientPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
              
                </div>
                
                  
              </div> 

        </mat-tab>


        <mat-tab label="Inventarios">
             
            <div class="main">

                <div class="head_main">
                    <h3>Inventarios</h3>
                    <button mat-raised-button  (click)="startInventory()">Iniciar inventario</button>
                </div>
            
                <div class="table_main">
                    <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterInventories($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    
                    <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceInventories" matSort>
                    
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                        </ng-container>
                    
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventario </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
            
                        <!-- Name Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let row"> <p>{{row.created_at | date: 'EEEE, d MMMM, y'}}</p>  </td>
                        </ng-container>
            
                        <!-- Name Column -->
                        <ng-container matColumnDef="finished">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let row">{{row.finished}}  </td>
                        </ng-container>
                    
                     
            
                         <!-- Fruit Column -->
                         <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                            <td mat-cell *matCellDef="let row"> 
                                <a href="" class="btn btn-success" [routerLink]="['../../see-inventory', row.id]">Ver Inventario</a>
                            </td>
                            </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsInventories"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsInventories;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
            
                </div>
                
                  
            </div>
            
        </mat-tab>
        <mat-tab label="Empleados">
             

            <div class="main">

                <div class="head_main">
                    <h3>Empleados</h3>
                    
                    <button mat-raised-button (click)="addEmployee()">Agregar Empleado</button>
                </div>
              
                <div class="table_main">
                    <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterEmployees($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    
                    <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceEmployees" matSort>
                    
                        <!-- ID Column -->
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
                        </ng-container>
                    
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                        </ng-container>
                     
            
                         <!-- Fruit Column -->
                         <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                            <td mat-cell *matCellDef="let row"> 
                                <a class="options" style="color: #9f2220;" (click)="deleteEmployee(row.id)"><i class="bi bi-trash3"></i></a>
                                <a class="options" style="color: yellowgreen;" [routerLink]="['../edit-employee', row.id]"><i class="bi bi-pen"></i></a>
                            </td>
                            </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployees"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsEmployees;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
            
                </div>
                
                  
              </div> 


        </mat-tab>

        <mat-tab label="Descuentos">
             

            <div class="main">

                <div class="head_main">
                    <h3>Descuentos</h3>
                    
                    <button mat-raised-button (click)="addCoupon()">Agregar Cupón</button>
                </div>
              
                <div class="table_main">
                    <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilterCoupon($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    
                    <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceCoupons" matSort>
                    
                        <!-- ID Column -->
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                    
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                        <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descuento </th>
                            <td mat-cell *matCellDef="let row"> {{row.discount}} %</td>
                        </ng-container>
            
                    
                     
            
                         <!-- Fruit Column -->
                         <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                            <td mat-cell *matCellDef="let row"> 
                                <a class="options" style="color: #9f2220;" (click)="deleteCoupon(row.id)"><i class="bi bi-trash3"></i></a>
                            </td>
                            </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCoupons"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCoupons;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Coupons"></mat-paginator>
                    </div>
            
                </div>
                
                  
              </div> 


        </mat-tab>
      </mat-tab-group>
      
</div>
