.main
{
    width: 500px;
    height: 300px;
    display: flex;
  flex-direction: column;
  .text
  {
    font-size: 30px;
    color: #252525;
    margin: auto;
    margin-top: 20px;
  }
}


.form
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    input
    {
        width: 80%;
        height: 40px;
        border: 0px;
        background-color: rgba(198, 198, 198, 0.5);
        border-radius: 5px;
        color: #252525;
        font-size: 14px;
        margin: 10px auto;
        
    }
    button
    {
        background-color: gray;
        color: white;
        width: 80%;
        margin: 10px auto;
        border-radius: 5px;
    }
    a
    {
        text-decoration: none;
        margin: 10px auto;
    }
    label
    {
        margin-left: 10%;
    }
}