<div class="main">

    <div class="head_main">
        <button mat-raised-button (click)="pdf()" style="margin-right: 150px;">Imprimir Ticket</button>
        <button mat-raised-button [routerLink]="['../../client']">Regresar</button>
    </div>

    <div class="table_main" >
        <h3>Productos</h3>
        <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceProducts" matSort>
        
           
            <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código Producto </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="simple_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
                <td mat-cell *matCellDef="let row">$ {{row.simple}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let row">$ {{row.total}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>

    <div class="ticket" id="ticket" *ngIf="printTicket">
        <div class="head">
          
          <div class="logo">
            <img src="https://haseya-accesorios.com/haseya-pv/haseya-admin/assets/img/logo.jpg" alt="" class="">
            <p class="date">Fecha: {{today}}</p>
            <p class="order">No. Ticket: {{id_ticket}}</p>
            <p class="client">Cliente: {{this.ticket.id_client != 0 ? client.name : 'Venta General'}}</p>
          </div>

          <div class="inf">
            <img src="https://haseya-accesorios.com/haseya-pv/haseya-admin/assets/img/qr.png" alt="" class="qr">
            
          </div>
        </div>

        <div class="table_ticket">
          <table id="customers" style="width: 580px;">
            <tr>
              <th>Código de Producto</th>
              <th>Cantidad</th>
              <th>P/Unitario</th>
              <th>P/Total</th>
            </tr>
           
            <tr *ngFor="let element of productsTicket">
              <td>{{element.code}}</td>
              <td>{{element.quantity}}</td>
              <td>$ {{element.simple}}</td>
              <td>$ {{element.total}}</td>
            </tr>
            <tfoot>
              <tr>
                <th scope="row" colspan="1">Subtotal</th>
                <td>$ {{ticket.total}}</td>
                <th scope="row" colspan="1">Total con Descuento</th>
                <td>$ {{ticket.total}}</td>
              </tr>
            </tfoot>
          </table>
         
        </div>
      </div>
    
      
</div>