<div class="dashboard-container" id="dashboard-report">
    <div class="header">
        <h1>Dashboard de Finanzas</h1>
        <div class="actions">
          <select [(ngModel)]="periodoSeleccionado" (change)="filtrarDatos()">
            <option value="Mes">Mes</option>
            <option value="Semana">Semana</option>
          </select>
    
          <select [(ngModel)]="tiendaSeleccionada" (change)="filtrarDatos()">
            <option value="Todas">Todas las Tiendas</option>
            <option *ngFor="let tienda of tiendas" [value]="tienda">{{ tienda }}</option>
          </select>
    
          <button class="btn-export" (click)="exportarPDF()">Exportar PDF</button>
        </div>
      </div>
    
      <section class="summary-cards">
        <div class="card">
          <h3>Ventas del {{ periodoSeleccionado }}</h3>
          <p>{{ periodoSeleccionado === 'Mes' ? resumenVentas.ventasMes : resumenVentas.ventasSemana | currency }}</p>
        </div>
      </section>
  
    <section class="summary-cards">
      <div class="card">
        <h3>Ventas del Mes</h3>
        <p>{{ resumenVentas.ventasMes  }}</p>
      </div>
      <div class="card">
        <h3>Ventas de la Semana</h3>
        <p>{{ resumenVentas.ventasSemana  }}</p>
      </div>
    </section>
  
    <section class="chart-section">
      <h2>Ventas Diarias</h2>
      <canvas #ventasDiariasChart></canvas>
    </section>
  
    <section class="chart-section">
      <h2>Productos Más Vendidos por Horario</h2>
      <canvas #productosPopularesChart></canvas>
    </section>
  
    <section class="chart-section">
      <h2>Horario de Más Ventas</h2>
      <canvas #horariosVentaChart></canvas>
    </section>
  
    <section class="tables-section">
      <h2>Ventas por Restaurante</h2>
      <table>
        <thead>
          <tr>
            <th>Restaurante</th>
            <th>Ventas</th>
            <th>Tickets</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurante of restaurantesFiltrados">
            <td>{{ restaurante.nombre }}</td>
            <td>{{ restaurante.ventas  }}</td>
            <td>{{ restaurante.tickets }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  