<div class="start" *ngIf="!isOpenBox && !bandWaiter">
  <p class="text">Comenzar turno</p>
  <form class="form" [formGroup]="formStartBox">
    <label>Ingresar monto en caja:</label>
    <input type="text" placeholder="Monto inicial" class="input_form" formControlName="moneyStarted">
    <button class="btn" (click)="onSubmit()">Iniciar Turno</button>
  </form>
</div>

<div class="message-box" *ngIf="!isOpenBox && bandWaiter">
  <h2>¡Upps, espera!</h2>
  <p>No hay ninguna caja abierta.<br>Pídele al gerente que abra la caja.</p>
</div>

<div class="pv" *ngIf="isOpenBox && !showTicket">

  <!-- Encabezado de mesas abiertas -->
  <div class="head_main" *ngIf="!isOpenTicket">
    <h3>Mesas abiertas</h3>
    <button mat-raised-button (click)="openDialog()" *ngIf="!bandWaiter">Cerrar Caja</button>
  </div>

  <!-- Mesas disponibles -->
  <div class="tables" *ngIf="!isOpenTicket ">
    <div class="table" *ngFor="let table of tickets" (click)="openTicket(table.id)">
      <h2>{{ table.name }}</h2>
      <p>Personas: {{ table.quantity }}</p>
    </div>

    <!-- Abrir nueva mesa -->
    <div class="table">
      <h2>Abrir mesa</h2>

      <div class="inp">
        <p>Nombre:</p>
        <input type="text" [(ngModel)]="clientName" />
      </div>

      <div class="inp">
        <p>Personas:</p>
        <input type="number" min="1" [(ngModel)]="peopleCount" />
      </div>

      <div class="checkbox-wrapper-46">
        <input type="checkbox" id="cbx-46" class="inp-cbx" [(ngModel)]="toGo"  />
        <label for="cbx-46" class="cbx"
          ><span>
            <svg viewBox="0 0 12 10" height="10px" width="12px">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
          ><span>Para llevar?</span>
        </label>
      </div>
      

      <button (click)="addTicket(clientName, peopleCount, toGo)">Abrir</button>
    </div>
  </div>
  <!-- Mesas abiertas -->
   <mat-tab-group *ngIf="!isOpenTicket">
     <mat-tab label="Ventas del día" > 
               
       <div class="main">
   
           <div class="head_main">
               <h3>Ventas del día</h3>
               
           </div>
         
           <div class="table_main">
               <mat-form-field>
               <mat-label>Filter</mat-label>
               <input matInput (keyup)="applyFilterTickets($event)" placeholder="Ex. Mia" #input>
               </mat-form-field>
               
               <div class="mat-elevation-z8">
               <table mat-table [dataSource]="dataSourceTickets" matSort>
                   <!-- Name Column -->
                   <ng-container matColumnDef="employee">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado </th>
                       <td mat-cell *matCellDef="let row"> {{row.employee}} </td>
                   </ng-container>
   
                   <ng-container matColumnDef="total">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                       <td mat-cell *matCellDef="let row"> {{row.total}} </td>
                   </ng-container>
   
                   <ng-container matColumnDef="method">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Método de Pago </th>
                       <td mat-cell *matCellDef="let row"> {{row.method !== null ? row.method : 'Ticket Abierto'}} </td>
                   </ng-container>
   
                   
   
                   <ng-container matColumnDef="start">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Inicio </th>
                       <td mat-cell *matCellDef="let row"> {{row.created_at |  date: 'd MMMM, y HH:mm'  }} </td>
                   </ng-container>
       
                   <ng-container matColumnDef="end">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Cerrada </th>
                       <td mat-cell *matCellDef="let row"> {{row.updated_at |  date: 'HH:mm' }} </td>
                   </ng-container>
               
   
   
               
                
         
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="options">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                       <td mat-cell *matCellDef="let row"> 
                         <a mat-raised-button [routerLink]="['../see-ticket', row.id]"><i class="bi bi-eye"></i> Ver Ticket</a>
                          
                       </td>
                       </ng-container>
               
                   <tr mat-header-row *matHeaderRowDef="displayedColumnsTickets"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumnsTickets;"></tr>
               
                   <!-- Row shown when there is no matching data. -->
                   <tr class="mat-row" *matNoDataRow>
                   <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                   </tr>
               </table>
               
               <mat-paginator #ticketsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
               </div>
         
           </div>
           
             
         </div> 
   </mat-tab>

   </mat-tab-group>


  



  <!-- Ticket abierto -->
  <div *ngIf="isOpenTicket">
    <div class="head_main">
      <h3>Mesa: {{ ticketActual.name }}</h3>
      <button mat-raised-button (click)="closeTicket()">Atrás</button>
    </div>

    <!-- Contenido del ticket -->
    <div class="ticket-container">
      
      


      <!-- Categorías -->
      <div class="category-bar">
        <div 
          class="category" 
          *ngFor="let cat of categories" 
          [class.active]="cat === selectedCategory"
          (click)="selectCategory(cat)">
          {{ cat.name }}
        </div>
      </div>
      <!-- Selector de comensal -->
      <div class="comensal-selector" style="margin-bottom: 10px; margin-top: 20px;">
        <label for="comensalSelect"><strong>Selecciona comensal:</strong></label>
        <select id="comensalSelect" [(ngModel)]="selectedComensal" style="margin-left: 8px; width: 120px; height: 25px;">
          <option *ngFor="let c of getComensales()" [value]="c">Comensal {{ c }}</option>
        </select>
      </div>

      <div class="main-content">
        
        <!-- Productos -->
        <div class="products">
          <div 
            class="product-card" 
            [class.added]="product.addedToCart"
            *ngFor="let product of selectedCategory?.products"
            (click)="addToTicket(product)">
            <img src="{{environment.url_img_products + product.image}}" alt="{{ product.name }}" />
            <div class="product-info">
              <h4>{{ product.name }}</h4>
              <p>${{ product.cost }}</p>
            </div>
            
          </div>
        </div>

        <!-- Detalle del Ticket -->
        <div class="ticket">
          <h3>Ticket</h3>

          <!-- Productos enviados -->
          <ul>
           <!-- Productos ENVIADOS separados por comensal -->
          <div *ngFor="let comensal of [].constructor(ticketActual.quantity); let i = index">
            <h4>🧾 Comensal {{ i + 1 }}</h4>
            <ul>
              <li *ngFor="let item of getComensalProducts(i + 1)">
                {{ item.name }} x{{ item.quantity }}
                <span class="locked">✔️ enviado</span>
              </li>
            </ul>
            <ul>
              <li *ngFor="let item of getComensalItems(i + 1)">
                {{ item.name }} x{{ item.quantity }}
                <button (click)="removeItem(item)">❌</button>
              </li>
            </ul>
          </div>    

           <!-- Mostrar productos por comensal -->
          <!-- <div *ngFor="let comensal of [].constructor(ticketActual.quantity); let i = index">
            <h4>Comensal {{ i + 1 }}</h4>
            <ul>
              <li *ngFor="let item of getComensalItems(i + 1)">
                {{ item.name }} x{{ item.quantity }}
                <button (click)="removeItem(item)">❌</button>
              </li>
            </ul>
          </div> -->

          </ul>

          <p class="total">Total: ${{ total }}</p>

          <!-- Botones de comanda -->
          <button class="send-btn" [disabled]="pendingItems.length === 0" (click)="sendOrder()">Enviar comanda</button>
          <button class="clear-btn" [disabled]="pendingItems.length === 0" (click)="clearPending()">Limpiar no enviados</button>

          <!-- Botón para cobrar -->
          <button class="pay-btn" *ngIf="!bandWaiter" [disabled]="productsTicket.length === 0" (click)="startPayment()">Cobrar</button>
        </div>
      </div>
    </div>

    <!-- Formulario de Pago -->
    <div class="payment-form" *ngIf="showPaymentForm">
      <h3>Cobrar Ticket</h3>

      <label>Método de pago:</label>
      <select [(ngModel)]="paymentMethod">
        <option value="{{type.name}}" *ngFor="let type of typesPays">{{type.name}}</option>
      </select>

      <div *ngIf="paymentMethod === 'Efectivo'">
        <label>Pago con:</label>
        <input type="number" [(ngModel)]="amountReceived">
        
        <p *ngIf="amountReceived">Cambio: ${{ amountReceived - total >= 0 ? (amountReceived - total) : 0 }}</p>
      </div>

      <div class="discount">
        <label>Código de Descuento:</label>
        <input type="text" (change)="discountVerify($event)">
        <label for="" *ngIf="bandDiscount === 1" style="color: green; font-weight: bold;">DESCUENTO APLICADO</label>
        <label for="" *ngIf="bandDiscount === 2" style="color: red; font-weight: bold;">DESCUENTO NO ENCONTRADO O AGOTADO</label>
      </div>

      <button class="send-btn" (click)="payTicket()">Confirmar pago</button>
      <button class="send-btn" (click)="cancelPayment()">Cancelar</button>
    </div>



  </div>
</div>

<!-- Cargando al abrir mesa -->
<div class="overlay-loading" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Abriendo mesa...</p>
</div>




<!-- TICKET PARA IMPRIMIR  -->
 
<button mat-raised-button (click)="closeTicket()"  *ngIf="showTicket">Atrás</button>

<div #ticketRef id="ticket" class="ticket-content" *ngIf="showTicket">
  <div class="ticket-header">
    <img [src]="logoBase64" alt="Logo" width="80">
    <!-- <img src="https://alasflautas.com/pv/pv_api/storage/app/public/stores/{{store.image}}" alt="Logo" width="80"> -->
    <p><strong>Restaurante {{store.name}}</strong><br><small>Gracias por su preferencia</small></p>
  </div>

  <div class="ticket-body">
    <p><strong>Ticket:</strong> {{ ticketActual?.id }}</p>
    <p><strong>Fecha:</strong> {{ currentDate | date:'short' }}</p>
    <div style="height: 1px; width: 100%; background-color: black;"></div>

  <div *ngFor="let comensal of getComensalesFromTicket()">
  <p><strong>Comensal {{ comensal }}</strong></p>
  <div *ngFor="let item of getProductosPorComensal(comensal)">
    <p>{{ item.name }} x{{ item.quantity }} - ${{ item.total }}</p>
  </div>
  <hr />
</div>


    <div style="height: 1px; width: 100%; background-color: black;"></div>
    <p><strong>Total:</strong> ${{ total }}</p>
  </div>


  <div class="ticket-footer">
    <p>¡Vuelva pronto!</p>
  </div>
</div>


<!-- Botones -->
<div *ngIf="showTicket" class="ticket-actions">
  <button mat-raised-button  (click)="printTicket()">Imprimir</button>
  <button mat-raised-button  (click)="sendTicketWhatsapp()">WhatsApp</button>
</div>
